.Form {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 48rem;
  position: relative;
}

.Form__Input {
  width: 100%;
  border: none;
  border-radius: 3rem;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  transition: all 0.2s;
  box-shadow: inset 0 0 0.25rem #000;
}

.Form__Input:focus {
  box-shadow: 0 0 0.5rem 100vh rgba(0, 0, 0, 0.125);
  outline: none;
}

.Form__Button {
  position: absolute;
  right: 0;
  width: 3rem;
  height: 3rem;
  margin: 1rem;
  border: none;
  border-radius: 3rem;
  background-color: #2f74c0;
  font-size: 1rem;
  color: white;
  transition: all 0.2s;
  box-shadow: 0 0 0.5rem #000;
}

.Form__Button:hover {
  background-color: #388ae2;
  cursor: pointer;
}

.Form__Button:active {
  transform: scale(0.8);
  box-shadow: 0 0 0.25rem #000;
}
