.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
  min-height: 100vh;
  background-color: #2f74c0;
}

@media screen and (min-width: 48rem) {
  .App {
    padding: 0;
  }
}

.Heading {
  margin: 1rem 0;
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: white;
  z-index: 1;
}

@media screen and (min-width: 48rem) {
  .Heading {
    margin: 1.5rem 0;
    font-size: 2.5rem;
  }
}
